<section class="text-black p-4">
  <h1 class="text-3xl text-neutral-600 py-1">Settings</h1>
  <p class="text-zinc-400 text-sm">Manage your Dashboard easely.</p>
  <hr class="w-full text-green-500 my-2" />
  <ul
    class="flex items-center shadow-sm justify-start gap-3 mt-3 text-neutral-800 bg-white w-full p-2 ps-2 rounded-sm font-light"
  >
    <li class="nav-li p-2 font-semibold">
      <a routerLink="profile" routerLinkActive="nav-active" class="nav-a"
        >Profile</a
      >
    </li>
    <li class="nav-li p-2 font-semibold">
      <a routerLink="messages" routerLinkActive="nav-active" class="nav-a"
        >Messages</a
      >
    </li>
    <li class="nav-li p-2 font-semibold">
      <a routerLink="notifications" routerLinkActive="nav-active" class="nav-a"
        >Notificatios</a
      >
    </li>
    <li class="nav-li p-2 font-semibold">
      <a routerLink="preferences" routerLinkActive="nav-active" class="nav-a"
        >Preferences</a
      >
    </li>
    <li class="nav-li p-2 font-semibold">
      <a routerLink="account" routerLinkActive="nav-active" class="nav-a"
        >Account</a
      >
    </li>
  </ul>

  <router-outlet></router-outlet>
</section>
