<section class="w-full p-1 py-4 flex-col justify-center items-stretch gap-[3px]">
  <section class="p-3 flex-col justify-center gap-[8px]">
    <section class="flex justify-between items-center mb-4 gap-2">
      <div
        class="border-s-[2px] border-slate-500 w-[18rem] flex gap-3 justify-evenly items-center h-[8rem] bg-zinc-100 shadow-lg text-slate-600 p-3  rounded-md">
        <div class="h-[56px] w-[56px] bg-neutral-300 rounded-full flex justify-center items-center">
          <img src="../../../assets/images/money-pocket.svg" class="w-[25px] h-25px] rounded-full" alt="">
        </div>
        <div class="flex-col items-center justify-center gap-10">
          <h2 class="text-[1.3rem] text-nowrap">Total Incomes</h2>
          <div class="flex gap-2 items-center justify-center">
            <span class="font-bold text-[1.8rem]">$2500</span>
            <span class="bg-red-200 font-bold text-red-600 rounded-lg px-[5px] py-[1px] text-[12px]">24 <i
                class="bi bi-arrow-down-left-circle-fill text-[14px]"></i></span>
          </div>
        </div>
      </div>
      <div
        class="border-s-[2px] border-slate-500 w-[18rem] flex gap-3 justify-evenly items-center h-[8rem] bg-zinc-100 shadow-lg text-slate-600 p-3  rounded-md">
        <div class="h-[56px] w-[56px] bg-neutral-300 rounded-full flex justify-center items-center">
          <img src="../../../assets/images/balance.svg" class="w-[25px] h-[25px] rounded-full" alt="">
        </div>
        <div class="flex-col items-center justify-center gap-10">
          <h2 class="text-[1.3rem] text-nowrap">Total Expenses</h2>
          <div class="flex gap-2 items-center justify-center">
            <span class="font-bold text-[1.8rem]">$2500</span>
            <span class="bg-emerald-200 font-bold text-emerald-600 rounded-lg px-[5px] py-[1px] text-[12px]">33 <i
                class="bi bi-arrow-up-right-circle-fill text-[14px]"></i></span>
          </div>
        </div>
      </div>

      <div
        class="border-s-[2px] border-slate-500 w-[18rem] flex gap-3 justify-evenly items-center h-[8rem] bg-zinc-100 shadow-lg text-slate-600 p-3  rounded-md">
        <div class="h-[56px] w-[56px] bg-neutral-300 rounded-full flex justify-center items-center">
          <img src="../../../assets/images/wallet.svg" class="w-[25px] h-[25px] rounded-full" alt="">
        </div>
        <div class="flex-col items-center justify-center gap-10 ">
          <h2 class="text-[1.3rem] text-nowrap">Current Credit</h2>
          <div class="flex gap-2 items-center justify-center">
            <span class="font-bold text-[1.8rem]">$5500</span>
            <span class="bg-emerald-200 font-bold text-emerald-600 rounded-lg px-[5px] py-[1px] text-[12px]">12 <i
                class="bi bi-arrow-up-right-circle-fill text-[14px]"></i></span>
          </div>
        </div>
      </div>

      <div
        class=" w-[20rem] flex gap-3 justify-evenly items-center h-[8rem] bg-zinc-100 shadow-lg text-slate-600 p-0  rounded-md">
        <div class="w-[16rem] h-[16rem] flex justify-between items-center">
          <!-- <canvas id="incomes-expenses">{{ chart }}</canvas> -->
          <div class="flex-col gap-10 justify-center align-baseline ps-4">
            <div class="text-[13px] text-slate-800 ">Current Month Stat</div>
            <div class="font-bold text-[1.1rem] flex justify-start gap-1 items-center "><span>$5500</span>
              <div class="bg-emerald-200 font-bold text-emerald-600 rounded-lg px-[1px] w-8 py-[1px] text-[10px]"> 12
                <i class="bi bi-arrow-up-right-circle-fill text-[10px]"></i>
              </div>
            </div>

            <div class="text-[12px] text-slate-800">status coin</div>
          </div>
          <div class="flex justify-center items-baseline pe-6">
            <span><i class="bi bi-bar-chart-fill text-[2.4rem] text-neutral-300"></i></span>
            <span><i class="bi bi-bar-chart-fill text-[3.2rem] "></i></span>
          </div>
        </div>
      </div>
    </section>
    <!-- <section class="flex justify-evenly items-center gap-2 mb-4">
      <div
        class="border-s-[2px] border-black w-[20rem] flex gap-3 justify-evenly items-center h-[9rem] bg-zinc-100 shadow-lg text-slate-600 p-3  rounded-md">
        <div class="h-[60px] w-[60px] bg-neutral-300 rounded-full flex justify-center items-center">
          <img src="../../../assets/images/wallet.svg" class="w-[35px] h-[35px] rounded-full" alt="">
        </div>
        <div class="flex-col items-center justify-center gap-10">
          <h2 class="text-[1.5rem] text-nowrap">Current Credit</h2>
          <div class="flex gap-2 items-center justify-center">
            <span class="font-bold text-[2.4rem]">$5500</span>
            <span class="bg-emerald-200 text-emerald-600 rounded-lg px-[6px] py-[2px] text-[17px]">12 <i
                class="bi bi-arrow-up-right-circle-fill text-[14px]"></i></span>
          </div>
        </div>
      </div>
      <div
        class="border-s-[4px] border-cyan-700 w-[20rem] flex gap-3 justify-evenly items-center h-[9rem] bg-zinc-100 shadow-lg text-slate-600 p-3  rounded-md">
        <div class="h-[60px] w-[60px] bg-neutral-300 rounded-full flex justify-center items-center">
          <img src="../../../assets/images/money-pocket.svg" class="w-[35px] h-[35px] rounded-full" alt="">
        </div>
        <div class="flex-col items-center justify-center gap-10">
          <h2 class="text-[1.5rem] text-nowrap">Total Incomes</h2>
          <div class="flex gap-2 items-center justify-center">
            <span class="font-bold text-[2.4rem]">$2500</span>
            <span class="bg-red-200 text-red-600 rounded-lg px-[6px] py-[2px] text-[17px]">24 <i
                class="bi bi-arrow-up-right-circle-fill text-[14px]"></i></span>
          </div>
        </div>
      </div>
    </section> -->
    <section class="w-full bg-zinc-100 rounded-md shadow-xl pb-[4rem] pt-5 px-5">
      <div class="w-full flex justify-between items-center">
        <h2 class="font-bold text-2xl text-slate-600">Current Cash-Flow </h2>
        <div class="flex justify-center items-center gap-5">
          <span class="flex justify-center items-center gap-1"> <i
              class="bi bi-circle-fill text-yellow-500 text-[6px]"></i>
            <span class="text-zinc-500 text-sm">Incomes</span> </span>
          <span class="flex justify-center items-center gap-1"> <i
              class="bi bi-circle-fill text-slate-600 text-[6px]"></i>
            <span class="text-zinc-500 text-sm">Expenses</span> </span>
        </div>
        <div class="flex justify-center items-center gap-2">
          <span class="text-zinc-500 text-sm">sorty by</span>
          <span class="relative flex justify-center items-center gap-2 rounded-lg bg-zinc-200 p-2 cursor-pointer">
            <span class="text-slate-800  text-sm cursor-pointer">Month</span>
            <label for="month" id="label-month">
              <i class="bi bi-calendar-check-fill cursor-pointer text-slate-600">
              </i>
            </label>
            <input id="month" class="d-none absolute top-0 right-0" name="month" type="date">
          </span>
        </div>
      </div>
      <div class="mt-8">
        <canvas id="cash-flow">{{ chart1 }}</canvas>
      </div>
    </section>
  </section>
</section>
