<section id="left-side-container" class="left-side overflow-x-hidden relative">
  <i
    class="bi bi-list text-2xl absolute top-2 right-2 text-neutral-600 hover:shadow-black hover:shadow-2xl rounded-md px-[2px] py-[1px] cursor-pointer font-bold"
  ></i>
  <div class="container-profile-image mt-5">
    <div class="flex gap-1">
      <div class="left-container-img w-[25px] h-[25px] rounded-full">
        <img
          class="icon w-[25px] h-[25px] me-5 rounded-full"
          src="../../../assets/images/me.jpg"
          alt="user-img"
        />
      </div>
      <h3
        class="left-text-user text-[14px] text-neutral-500 flex justify-center items-center gap-2"
      >
        Mário Norberto
        <i
          class="bi bi-circle-fill text-emerald-500 text-[6px] opacity-50 pt-1"
        ></i>
      </h3>
    </div>
  </div>

  <div class="text-[13px]">
    <a
      routerLink="/dashboard"
      routerLinkActive="nav-active"
      class="left-side-option hover:bg-zinc-100 hover:text-neutral-800"
    >
      <i
        class="icon icon-left bi bi-house text-neutral-800 font-extrabold text-[17px]"
      ></i>
      <h4 class="text-neutral-700 opacity-75">Dashboard</h4>
    </a>

    <a
      routerLink="/dashboard/incomes"
      routerLinkActive="nav-active"
      class="left-side-option hover:bg-zinc-100 hover:text-neutral-800 relative"
    >
      <i
        class="icon icon-left bi bi-cash-coin text-neutral-800 font-extrabold text-[17px]"
      ></i>
      <h4 class="font-normal text-neutral-700 opacity-75">Incomes</h4>
    </a>

    <a
      routerLink="/dashboard/expense"
      routerLinkActive="nav-active"
      class="left-side-option hover:bg-zinc-100 hover:text-neutral-800 relative"
    >
      <i
        class="icon icon-left bi bi-building-down text-neutral-800 font-extrabold text-[17px]"
      ></i>
      <h4 class="text-neutral-700 opacity-75">expenses</h4>
    </a>

    <a
      routerLink="/dashboard/cash-flow"
      routerLinkActive="nav-active"
      class="left-side-option hover:bg-zinc-100 hover:text-neutral-800 relative"
    >
      <i
        class="icon icon-left bi bi-stack-overflow text-neutral-700 font-extrabold text-[17px]"
      ></i>
      <h4 class="text-neutral-700 text-nowrap opacity-75">Cash Flow</h4>
    </a>

    <a
      routerLink="/dashboard/financial-indicators"
      routerLinkActive="nav-active"
      class="left-side-option hover:bg-zinc-100 hover:text-zinc-100 relative"
    >
      <i
        class="icon icon-left bi bi-graph-up-arrow text-neutral-700 font-extrabold text-[17px]"
      ></i>
      <h4 class="text-neutral-700 text-nowrap opacity-75">
        Financial Indicators
      </h4>
    </a>

    <a
      routerLink="/dashboard/budget-performace"
      routerLinkActive="nav-active"
      class="left-side-option hover:bg-zinc-100 hover:text-neutral-800 relative"
    >
      <i
        class="icon icon-left bi bi-bank2 text-neutral-800 font-extrabold text-[17px]"
      ></i>
      <h4 class="text-neutral-700 text-nowrap opacity-75">
        Budget Performance
      </h4>
    </a>

    <a
      routerLink="/dashboard/reports"
      routerLinkActive="nav-active"
      class="report left-side-option hover:bg-zinc-100 hover:text-neutral-800 relative"
    >
      <i
        class="icon icon-left bi bi-file-bar-graph text-neutral-800 font-extrabold text-[17px]"
      ></i>
      <h4 class="text-neutral-700 opacity-75">Reports</h4>
    </a>
    <a
      routerLink="/dashboard/settings/profile"
      routerLinkActive="nav-active"
      class="left-side-option hover:bg-zinc-100 hover:text-neutral-800 relative mb-28"
    >
      <i
        class="icon icon-left bi bi-gear text-neutral-800 font-extrabold text-[17px]"
      ></i>
      <h4 class="text-neutral-700 opacity-75">Settings</h4>
    </a>
  </div>
</section>
