<section id="left-side">
  <div class="container-profile-image">
    <app-profile-image></app-profile-image>
    <h3>Mário Norberto <br> <span>online</span></h3>
  </div>

  <div>
    <app-left-side-option></app-left-side-option>
    <app-left-side-option></app-left-side-option>
    <app-left-side-option></app-left-side-option>
    <app-left-side-option></app-left-side-option>
    <app-left-side-option></app-left-side-option>
    <app-left-side-option></app-left-side-option>
    <app-left-side-option></app-left-side-option>
    <app-left-side-option></app-left-side-option>
    <app-left-side-option></app-left-side-option>
    <app-left-side-option></app-left-side-option>
  </div>
</section>