<p>incomes works!</p>
<div>
  Receitas Totais: Resumo das receitas totais, detalhadas por mês ou trimestre.
  Receitas por Categoria: Análise das receitas de diferentes fontes (vendas, serviços, investimentos, etc.).
</div>

<div>
  Investimentos

  Resumo de Investimentos: Desempenho geral dos investimentos.
  Análise de Portfólio: Análise detalhada de diferentes investimentos e seu desempenho.
  Metas Financeiras

  Definição de Metas: Configuração de metas financeiras.
  Acompanhamento de Metas: Monitoramento do progresso em relação às metas definidas.
</div>