<section class="w-full p-4">
  <div class="mb-7 flex justify-between items-center">
    <h1 class="text-start text-neutral-600 text-3xl">Income Overview</h1>
    <div class="flex justify-center items-center gap-2">
      <span class="text-zinc-300 text-sm">sorty by</span>
      <span
        class="relative flex justify-center items-center gap-2 rounded-lg bg-zinc-200 p-2 cursor-pointer"
      >
        <span class="text-neutral-800 text-sm cursor-pointer">Month</span>
        <label for="month" id="label-month">
          <i class="bi bi-calendar-check-fill cursor-pointer text-neutral-600">
          </i>
        </label>
        <input
          id="month"
          class="hidden absolute top-0 right-0"
          name="month"
          type="date"
        />
      </span>
    </div>
  </div>
  <section class="flex justify-center items-center gap-3 mb-14">
    <div
      class="flex flex-col justify-center items-center w-72 h-56 p-4 rounded-md bg-white border-[1px] border-neutral-100 shadow-md"
    >
      <i
        class="mt-5 bi bi-currency-exchange font-medium p-4 bg-stone-200 text-stone-500 rounded-full h-10 w-10 text-xl flex justify-center items-center"
      ></i>
      <h3 class="text-neutral-400 mt-2 text-xl ms-1">Total Income</h3>
      <h5 class="text-neutral-300 text-[14px] mt-2">Balance</h5>
      <h3 class="text-neutral-400 flex justify-start items-center gap-1">
        <span class="font-bold text-3xl text-neutral-700">3,500</span> USD
      </h3>
      <div class="my-1">
        <span class="text-neutral-300 text-[14px] mt-2 ms-2">Increase</span>
        <div class="flex-col items-start justify-center gap-3">
          <h3 class="text-[20px] font-bold mb-2 text-neutral-700">
            +550
            <i
              class="text-green-500 bi bi-arrow-up-right-circle-fill text-[14px]"
            ></i>
          </h3>
        </div>
      </div>
    </div>
    <div
      class="flex flex-col justify-center items-center w-72 h-56 p-4 rounded-md bg-white relative border-[1px] border-neutral-100 shadow-md"
    >
      <i
        class="mt-5 bi bi-wallet-fill font-medium p-4 bg-rose-200 text-rose-500 rounded-full h-10 w-10 text-xl flex justify-center items-center"
      ></i>
      <h3 class="text-neutral-400 mt-2 text-xl ms-5">Average Income</h3>
      <h5 class="text-neutral-300 text-[14px] mt-2">Balance</h5>
      <h3 class="text-neutral-400 flex justify-start items-center gap-1">
        <span class="font-bold text-3xl text-neutral-700">1,750</span> USD
      </h3>
      <div class="my-1">
        <span class="text-neutral-300 text-[14px] mt-2 ms-2">Increase</span>
        <div class="flex-col items-start justify-center gap-3">
          <h3 class="text-[20px] font-bold mb-2 text-neutral-700">
            +1,500
            <i
              class="text-green-500 bi bi-arrow-up-right-circle-fill text-[14px]"
            ></i>
          </h3>
        </div>
      </div>
    </div>
    <div
      class="flex flex-col justify-center items-center w-72 h-56 p-4 rounded-md bg-white relative border-[1px] border-neutral-100 shadow-md"
    >
      <i
        class="mt-5 bi bi-arrow-up-circle font-medium p-4 bg-lime-200 text-lime-500 rounded-full h-10 w-10 text-2xl flex justify-center items-center"
      ></i>
      <h3 class="text-neutral-400 mt-2 text-[20px] ms-5">Highest Source</h3>
      <h5 class="text-neutral-300 text-[14px] mt-2">Balance</h5>
      <h3 class="text-neutral-400 flex justify-start items-center gap-1">
        <span class="font-bold text-3xl text-neutral-700">2,500</span> USD
      </h3>
      <div class="my-1">
        <span class="text-neutral-300 text-[14px] mt-2 ms-2">Dicrease</span>
        <div class="flex-col items-start justify-center gap-3">
          <h3 class="text-[20px] font-bold mb-2 text-neutral-700">
            -3,500
            <i
              class="text-red-500 bi bi-arrow-down-left-circle-fill text-[14px]"
            ></i>
          </h3>
        </div>
      </div>
    </div>
    <div
      class="flex flex-col justify-center items-center w-72 h-56 p-4 rounded-md bg-white relative border-[1px] border-neutral-100 shadow-md"
    >
      <i
        class="mt-5 bi bi-graph-up-arrow font-medium p-4 bg-orange-200 text-orange-500 rounded-full h-10 w-10 text-xl flex justify-center items-center"
      ></i>
      <h3 class="text-neutral-400 mt-2 text-xl ms-1">Growth rate</h3>
      <h5 class="text-neutral-300 text-[14px] mt-2">Balance</h5>
      <h3 class="text-neutral-400 flex justify-start items-center gap-1">
        <span class="font-bold text-3xl text-neutral-700">2,500</span> USD
      </h3>
      <div class="my-1">
        <span class="text-neutral-300 text-[14px] mt-2 ms-2">Increase</span>
        <div class="flex-col items-start justify-center gap-3">
          <h3 class="text-[20px] font-bold mb-2 text-neutral-700">
            +3,500
            <i
              class="text-green-500 bi bi-arrow-up-right-circle-fill text-[14px]"
            ></i>
          </h3>
        </div>
      </div>
    </div>
  </section>
  <h1 class="text-neutral-600 text-3xl">Income Trends</h1>

  <section
    class="my-8 flex-col justify-center items-center p-6 bg-white rounded-lg"
  >
    <div class="mb-7 flex justify-between items-center">
      <h3 class="text-zinc-300">Graphic</h3>
      <div class="flex justify-center items-center gap-2">
        <span
          class="relative flex justify-center h-14 w-14 items-center gap-2 rounded-full bg-zinc-200 p-2 cursor-pointer"
        >
          <i class="bi bi-calendar-check-fill cursor-pointer text-neutral-600">
          </i>
          <input
            id="month"
            class="hidden absolute top-0 right-0"
            name="month"
            type="date"
          />
        </span>
      </div>
    </div>

    <div class="mt-8">
      <canvas id="chart-income-trends">{{ chartIncomeTrends }}</canvas>
    </div>
  </section>
  <h2 class="text-neutral-600 text-3xl">Income Table</h2>
  <h3 class="text-zinc-300">Informative Table</h3>
  <section
    class="flex justify-between items-center gap-4 my-8 w-full bg-white rounded-lg p-6"
  >
    <section class="w-[70%]">
      <table class="w-full font-light my-8 bg-neutral-800">
        <thead class="text-white">
          <tr class="">
            <th class="">#</th>
            <th>Data</th>
            <th>Source</th>
            <th>Amount</th>
            <th>Category</th>
            <th>Notes</th>
          </tr>
        </thead>
        <tbody class="bg-white text-neutral-600 w-full p-2 text-start">
          <tr>
            <td>1</td>
            <td>20-01-2024</td>
            <td>Freelancer</td>
            <td>100</td>
            <td>Tech</td>
            <td>website building</td>
          </tr>
          <tr class="bg-zinc-100">
            <td>2</td>
            <td>10-03-2024</td>
            <td>Job</td>
            <td>100</td>
            <td>Tech</td>
            <td>website building</td>
          </tr>
          <tr>
            <td>3</td>
            <td>20-05-2024</td>
            <td>Job</td>
            <td>100</td>
            <td>Tech</td>
            <td>website building</td>
          </tr>
          <tr class="bg-zinc-100">
            <td>3</td>

            <td>20-05-2024</td>
            <td>Job</td>
            <td>100</td>
            <td>Tech</td>
            <td>website building</td>
          </tr>
          <tr>
            <td>4</td>
            <td>20-05-2024</td>
            <td>Job</td>
            <td>100</td>
            <td>Tech</td>
            <td>website building</td>
          </tr>
        </tbody>
      </table>
    </section>
    <section class="w-[30%] text-zinc-600 mt-[-13rem]">
      <h2 class="font-bold mb-4">Forecasting projections</h2>
      <div class="relative">
        <div class="bg-neutral-600 w-52 h-48 rounded-lg absolute shadow-xl">
          <img
            class="rounded-lg"
            src="../../../assets/images/graph-image2.png.png"
            alt=""
          />
        </div>
        <div
          class="bg-neutral-800 w-56 h-48 rounded-lg z-40 absolute top-16 shadow-xl left-28"
        >
          <img
            class="rounded-lg"
            src="../../../assets/images/graph-image1.png"
            alt=""
          />
        </div>
      </div>
    </section>
  </section>
  <h1 class="text-neutral-600 text-3xl">Income Breakdown</h1>
  <section
    class="flex justify-between items-stretch mb-8 mt-8 w-full bg-white rounded-lg p-6"
  >
    <section class="w-[50%]">
      <h3
        class="text-neutral-300 text-xl flex justify-start items-center gap-1"
      >
        Incomes <span class="text-zinc-400 text-[12px]">| by source</span>
      </h3>
      <div class="mt-8">
        <canvas class="ms-[-13rem] w-[500px]" id="chart-income-by-source">{{
          chartIncomeBySource
        }}</canvas>
      </div>
      <div class="mt-3 ms-5 flex gap-10 justify-start items-center">
        <span class="flex justify-center items-center gap-1">
          <i class="bi bi-circle-fill text-stone-600 text-[4px]"></i>
          <span class="text-zinc-400 text-sm">March</span>
        </span>
        <span class="flex justify-center items-center gap-1">
          <i class="bi bi-circle-fill text-lime-600 text-[4px]"></i>
          <span class="text-zinc-400 text-sm">April</span>
        </span>
        <span class="flex justify-center items-center gap-1">
          <i class="bi bi-circle-fill text-rose-300 text-[4px]"></i>
          <span class="text-zinc-400 text-sm">May</span>
        </span>
        <span class="flex justify-center items-center gap-1">
          <i class="bi bi-circle-fill text-black text-[4px]"></i>
          <span class="text-zinc-400 text-sm">June</span>
        </span>
      </div>
    </section>
    <section class="w-[50%]">
      <h3
        class="text-neutral-300 text-xl flex justify-start items-center gap-1"
      >
        Incomes <span class="text-zinc-400 text-[12px]">| by category</span>
      </h3>
      <div class="mt-8 flex justify-start">
        <canvas class="w-[500px]" id="chart-income-by-category">{{
          chartIncomeByCategory
        }}</canvas>
      </div>
      <div class="mt-3 ms-5 flex gap-10 justify-center items-center">
        <span class="flex justify-center items-center gap-1">
          <i class="bi bi-circle-fill text-stone-600 text-[4px]"></i>
          <span class="text-zinc-400 text-sm">March</span>
        </span>
        <span class="flex justify-center items-center gap-1">
          <i class="bi bi-circle-fill text-lime-600 text-[4px]"></i>
          <span class="text-zinc-400 text-sm">April</span>
        </span>
        <span class="flex justify-center items-center gap-1">
          <i class="bi bi-circle-fill text-rose-300 text-[4px]"></i>
          <span class="text-zinc-400 text-sm">May</span>
        </span>
        <span class="flex justify-center items-center gap-1">
          <i class="bi bi-circle-fill text-black text-[4px]"></i>
          <span class="text-zinc-400 text-sm">June</span>
        </span>
      </div>
    </section>
  </section>

  <div class="flex justify-center items-center gap-2 mt-8">
    <span
      class="cursor-pointer text-[14px] rounded-lg p-1 text-zinc-500 hover:text-zinc-400"
      >Export as <i class="bi bi-filetype-csv font-bold"></i>
    </span>

    <span>/</span>
    <span
      class="hover:text-zinc-400 cursor-pointer text-[14px] p-1 text-zinc-500"
      >Download report <i class="bi bi-filetype-pdf font-bold"></i
    ></span>
  </div>
</section>
