@import url('../node_modules/bootstrap-icons/font/bootstrap-icons.min.css');

@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: 'Monserat';
  src: url('./assets/fonts/Montserrat/Montserrat-VariableFont_wght.ttf');
}

@font-face {
  font-family: 'Monserat Italic';
  src: url('./assets/fonts/Montserrat/Montserrat-Italic-VariableFont_wght.ttf');
}

:root{
  --primary-color: #000;
  --bg-primary-color: #000;
  --bg-secondary-color: #000;
  --text-primary-color: #000;
  --text-secondary-color: #000;
  --btn-primary-color: #000;
  --btn-secondary-color: #000;
  --btn-hover-color: #000;
  --link-primary-color: #000;
  --link-secondary-color: #000;
  --link-hover-color: #000;
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Monserat';
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

a {
  text-decoration: none;
}

li{
  list-style: none;
}

.report-nav-item {
  transition: width 0.3s;
}

#month{

}
